<div class="<%= (classes ? classes.join(' ') : '') %>">
    <% if (post.subtitle) { %>
        <p class="post-subtitle"><%= post.subtitle %></p>
    <% } %>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <%- partial('category', {categories: post.categories})%>
    <% } %>
</div>